{% extends "profile.html" %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="../../static/image/logo.png">

    <title>Super Canvasser Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bs_css/bootstrap.min.css" rel="stylesheet">
    

    <!-- JQuery & Javascript implementation -->
    <script src="../../static/jquery/jquery.js"></script>
    <script src="../../static/jquery/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../../static/jquery/jquery-ui.min.css">
    <script src="../../static/javascript/admin_script/admin.js"></script>

    <!-- JQuery implementation -->
    <script src="../../static/jquery/jquery.js"></script>
    <script src="../../static/jquery/jquery-ui.min.js"></script>

    <!-- Custom styles for this login page -->
    <link href="../../static/css/admin.css" rel="stylesheet">
{% endblock %}

{% block div %}
    <!-- this is the nav bar and the title on top -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../../static/image/logo.png" width="30" height="30" alt="">
        Super Canvasser
      </a>
      <button class="btn btn-outline-success" type="button">Log out</button>
    </nav>

    <!-- main functional parts -->
    
    <div id="tabs-collapsible">
        <ul>
            <li><a href="#tabs-v-1" class="active">Admin Porfolio</a></li>
            <li><a href="#tabs-v-2">Users</a></li>
            <li><a href="#tabs-v-3">Edit Profile</a></li>
        </ul>
        <div id="tabs-v-1" class="tab-pane">
        <h3 id="name" > <strong>Welcome System Adminstrator: </strong> {{u_name}}  </h3>
            <div class="col-sm" id="portrait">
            <img src="../../static/image/placeholder.png" width="200" height="160"/>
            </div>
            <p>
             Hi, You are the <strong>System Adminstrator </strong>
             You can <u>add/delete/edit/</u> Users of <strong>Super Canvasser</strong>
             You can <u>edit global parameter of <strong>Super Canvasser</strong>
            </p>

            <div class="alert alert-info" role="alert"> 
                <p style="text-align: center; color: black;">
                    <label for="avgworkday" ><strong>Current Average Work Day Length:</strong>
                         <label id = "day_value" > {{ gblvar_session.workDayLength }} </label>
                         <label style ="padding-left: 5px">  Days</label>
                    </label>
                </p>
                <p style="text-align: center; color: black;">
                    <label for="avgworkday"> <strong>Average Canvasser Movement Speed:</strong>
                        <label id = "speed_value">  {{ gblvar_session.averageSpeed}} </label>
                        <label style = "padding-left: 5px">  Miles/Hour</label>
                    </label>
                </p>
            </div>

        <!-- form to change the global variables-->
            <form id="global" action="{{ url_for('adminPage', onwer_table.email) }}" method="post">
                <div class="form-group">
                    <label for="avgworkday"  name ="workday_title"> Average Work Day Length: </label>
                        <select class="form-control" id="avgworkday" type="workday" name = "workday">
                            <option value="1" {% if gblvar_session.workDayLength == 1 %} selected="selected" {% endif %}>1 days</option>
                            <option value="2" {% if gblvar_session.workDayLength == 2 %} selected="selected" {% endif%}>2 days</option>
                            <option value="3" {% if gblvar_session.workDayLength == 3 %} selected="selected"{% endif %}>3 days</option>
                            <option value="4" {%if gblvar_session.workDayLength == 4 %} selected="selected" {% endif %}>4 days</option>
                            <option value="5" {%if gblvar_session.workDayLength == 5 %} selected="selected"  {% endif %}>5 days</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="avgmovspeed" ame ="workspeed_title">Average Canvasser Movement Speed: </label>
                    <select class="form-control" id="avgmovspeed" type="movspeed" name="movspeed">
                         <option value="1" {% if gblvar_session.averageSpeed == 1 %} selected="selected" {% endif %}>1 mile/hour</option>
                         <option value="2" {% if gblvar_session.averageSpeed == 2 %} selected="selected" {% endif %}>2 miles/hour</option>
                         <option value="3" {% if gblvar_session.averageSpeed == 3 %} selected="selected" {% endif %}>3 miles/hour</option>
                         <option value="4" {% if gblvar_session.averageSpeed == 4 %} selected="selected" {% endif %}>4 miles/hour</option>
                         <option value="5" {% if gblvar_session.averageSpeed == 5 %} selected="selected" {% endif %}>5 miles/hour</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id ="globalButton" >Change Global Parameters</button>
            </form>
        </div>
    <!-- User view-->
        <div id="tabs-v-2" class="tab-pane">
            <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover model-list">
            <thead>
                <tr>
                        <th class="col-md-1" style="width: 80px;">&nbsp;</th>
                        <th class="column-header col-first_name">
                                <a href="#" title="Sort by First Name">Name</a>
                        </th>
                        <th class="column-header col-last_name">
                            <a href="#" title="Sort by Last Name">Account Type</a> 
                        </th>
                        <th class="column-header col-email">
                            <a href="#" title="Sort by Email">Email</a>
                        </th>
                </tr>
            </thead>
            {% for instance in usr_session %}
            <tr>  
                    <td class="list-buttons-column">
                        <button id="change"><img src="../../static/image/pencil.svg"/></button>
                        <button id="delete"><img src="../../static/image/delete.svg"/></button>
                    </td>
                    <td class="list-buttons-column">
                        {{instance.name}}
                    </td>
                    <td class="list-buttons-column">
                        {{instance.accType}}
                    </td>
                    <td class="list-buttons-column">
                        {{instance.email}}
                    </td>
            </tr>
                {% endfor %}
            </table>
            </div>
        </div>
     <div id="tabs-v-3" class="tab-pane">
{% endblock %}
{% block footer %}
</div> 
</div>
{% endblock %}
