{% extends "header.html" %}

{% block header %}

    <link href="/static/css/canvas_start.css" rel="stylesheet">
    <!-- Alert for flash message-->
    <script>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
       {% for msg in messages%}
             alert('{{ msg}}');
             {% endfor %}
     {% endif %}
  {% endwith %}
</script>
{% endblock %}

<!----------------------BODY PART---------------------------------------------->
{% block body %}
      <h2 style="text-align: center;padding-top:10px;">CANVASS</h2>
      <hr/>
    <button class="btn btn-info" type="button" style="margin-left:5%" id="canHome" onclick="window.location.href='{{ url_for( 'canvasser.canPage', u_name = session['info']['name'])}}' ">HomePage</button><br/><br/>
    <!-------------Basic Instruction--------------->
     <h5 style="margin-left:5%"><span style="padding-left:5px; font-weight: bold;">Basic Instructions : </span></h5>
        <h5 style="margin-left:10%"> This is you current day's canvassing assignement, and next location you will to visit</h5>
        <h5 style="margin-left:10%"> If you do not have any assingment on today, you will see you the next avaliable assignment location</h5> 
    </h5><hr/>

    <div style="float: center">
   <!-- ----------- Locations on the List -->
      <div class="panel panel-primary col" id="current_assignment">
          <div class="card" style ="margin-left: 5%;">
            <h5 class="card-header">Current Day's Canvassing Assignment</h5>
            <div class="card-body" style ="margin-left: 5%;">
              <h5 class="card-title btn btn-secondary btn-block">Assignment Details</h5>
              <!------- No assignments on today---------->
              {% if not ass_info['current_ass'] %}
               <div class="alert alert-warning" role="alert">
                <strong>Info: </strong> Without any assignments on today
              </div>
              {% else %}
              <!---------- One assignment on today-------------->
              <div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold;"><mark>Campaign Name:</mark>&nbsp&nbsp {% if ass_info['campaign_name'] %} {{ ass_info['campaign_name'] }} {% endif %}</li>

                    <li class="list-group-item" style="font-weight: bold;"><mark>The Date :</mark>&nbsp&nbsp {% if ass_info['current_ass'] %} {{ ass_info['current_ass'].theDate }} {% endif %}</li>

                    <li class="list-group-item" style="font-weight: bold;"><mark>Location's Latitude & Longtitude:</mark>&nbsp&nbsp {% if ass_info['current_ass'] %} ({{ assignments[ass_info['current_ass']][1]}}, {{ assignments[ass_info['current_ass']][1]}} ) {% endif %}</li>

                     <li class="list-group-item" style="font-weight: bold;">
                      <mark>Location :</mark>
                       <address style="margin-left: 10%; font-size: 18px; font-style: italic;">
                        {% if ass_info['current_ass'] %}
                          {% set list1 =assignments[ass_info['current_ass']][0].split(',') %}
                            {% for ele in list1 %}
                              {{ ele }} <br>
                            {% endfor %}
                        {% endif %}
                        </address>
                     </li>

                  </ul><br/>
                <a href="{{ url_for( 'canvasser.done_canvasser', ass_id = ass_info['current_ass'].id )}}" class="btn btn-success" id="result">Enter Results</a>
              </div>
            {% endif %}

        </div>
      </div>
  </div> 
</div><hr/><br/>
<!----------------Next Location Part------->
  <div class="panel  panel-primary col" id="next_location">
    <div class="panel-body">
        <div class="card" style ="margin-left: 5%;">
            <h5 class="card-header"> Your Next Location </h5>
            <div class="card-body">
               {% if not ass_info['next_ass'] %}
              <!------- No next location--------->
               <div class="alert alert-warning" role="alert" style="display: none;">
                <strong>Info: </strong> Without any assignments on today
              </div>
              {% else %}
        <!-----------------Has Next Location------------------>
         <form  method="post" action ="{{ url_for('canvasser.change_next_location')}}" role="form">
                <div class="form-group form-inline" style="margin-left: 30%;">
                  <label style="padding-right: 10px; font-weight: bold;" for="next_loc">Current Value:</label>
                  <input type="text" class="form-control col-md-5" value="{{assignments[ass_info['next_locations'][0]][0]}} ({{ (ass_info['next_locations'][0]).id }})" id="next_loc" name="next_loc" placeholder="No next location" readonly autofocus>
                </div>
                <select id="end" name="end" class="custom-select" style="font-size:18px; margin-bottom: 10px;" onchange="calcRoute();">
                  {% for ele in ass_info['next_locations']%}
                    <option value="{{ ele.id }}">{{ assignments[ele][0] }}</option>
                  {% endfor %}
                </select>
           <button class="btn btn-success" id="submit" name="submit" type="submit"> <i class="fa fa-plus-circle"></i> Change the Next Location </button>
        </form>
        {% endif %}
        </div>
      </div>
    </div>
    <hr/>
</div>

<!------------ Choose Travel Mode ----------------------->
  <div id="floating-panel">
    <b>Mode of Travel: </b>
          <select id="mode"  onchange="calcRoute();">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
          </select>
</div>

<!------------- Map And Direction Panel----------------------->
<div class="form-group form-inline" style="margin-left: 30%;">
  <label style="padding-right: 10px; font-weight: bold;" for="start">Start Location:</label>
  <input type="text" class="form-control col-md-5" value="{{ assignments[ass_info['current_ass']][0] }}" id="start" placeholder="No start location" readonly autofocus>
</div>

<br/>
  <div class="row" style="margin-left: 5%;">
          <div id="map" name="map"></div>
          <div class="card" style="margin-left: 2%;">
            <div class="card-body">
                <div id="right-panel"></div>
            </div>
        </div>
</div>

<script type="text/javascript" src="/static/javascript/canvasser_script/canvas_start.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGuEpRycbTYDCcS6uxiot0x0eSLkpTbiY&callback=initMap">
</script>    
{%  endblock %}