{% extends "header.html" %}

{% block header %}
     <link href="/static/css/fullcalendar_css/fullcalendar.css" rel='stylesheet' />
      <link href="/static/css/fullcalendar_css/fullcalendar.print.css" rel='stylesheet' media='print' />
      <link href="/static/css/canvasser.css" rel="stylesheet">

      <script type="text/javascript" src="/static/javascript/canvasser_script/fullcalendar_jq.js"></script>
      <script type="text/javascript" src="/static/javascript/canvasser_script/fullcalendar.js"></script>
{% endblock %}

<!----------------------BODY PART---------------------------------------------->
{% block body %}
    <!-- main functional parts -->
    <div class="container">
      <h2 style="text-align: center;padding-top:10px;">Canvasser Management System -- {{u_name}}</h2>
      <hr/>
      <div class="alert alert-info" role="alert">
          <i class="fa fa-2x fa-info-circle"></i><span style ='margin-left: 1%; font-size: 18px; color: black;'>Click on empty date for setting avaliability, Click on date with avaliability for deleting the avaliability</span>
    </div>
      <!-- calendar implementation -->
      <div id='wrap'>
        <div id='calendar'></div>
        <div style='clear:both'></div>
      </div>
    </div> 
   <div class="row">
      <button class="btn btn-outline-success btn-lg" type="button" id="canvas-btn" onclick="window.location.href='{{ url_for('canvasser.view_upcomming')}}' ">View Upcoming Assignments</button>
    <button class="btn btn-outline-success btn-lg" type="button" id="canvas-btn" onclick="window.location.href='{{ url_for('canvasser.set_canvasser')}}' " style='margin-right: 20%;'>Start Canvas</button>
  </div>
    
<!-- Alert for flash message-->
   <script>
    {% with errors = get_flashed_messages() %}
      {% if errors %}
        {% for msg in errors %}
             alert('{{ msg }}');
        {% endfor %}
     {% endif %}
  {% endwith %}
</script>
  <!-- scripts below will taking care of calendar javascript interactions-->
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type="text/javascript"  src="/static/javascript/canvasser_script/canvas.js"></script>
  <script type="text/javascript">
    canvasEvents = myFunc({{avails|tojson}})
  </script>
{%  endblock %}