<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="../../static/image/logo.png">

    <title>Super Canvasser Canvasser</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bs_css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/fullcalendar_css/fullcalendar.css" rel='stylesheet' />
    <link href="../../static/css/fullcalendar_css/fullcalendar.print.css" rel='stylesheet' media='print' />

    <!-- JQuery implementation -->
    <script src="../../static/jquery/jquery.js"></script>
    <script src="../../static/jquery/jquery-ui.min.js"></script>
    
    

    <!-- Custom styles for this login page -->
    <link href="../../static/css/canvasser.css" rel="stylesheet">

  </head>

  <body>
    <!-- this is the nav bar and the title on top -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../../static/image/logo.png" width="30" height="30" alt="">
        Super Canvasser
      </a>
      <button class="btn btn-outline-success" type="button"><a href="{{url_for('auth.login')}}">Log out</a></button>
    </nav>

    <!-- main functional parts -->
    <div class="container">
      <h1 style="text-align: center">Welcome {{u_name}}</h1>
      <hr/>

      <!-- calendar implementation -->
      <div id='wrap'>

        <div id='calendar'></div>

        <div style='clear:both'></div>
      </div>
    </div> 

    
    <button class="btn btn-outline-success btn-lg" type="button" id="canvas-btn" onclick="window.location.href='view_upcoming_assignment.html'">View Upcoming Assignment</button>
    <button class="btn btn-outline-success btn-lg" type="button" id="canvas-btn" onclick="window.location.href='canvas_start.html'">Start Canvas</button>

  <!-- scripts below will taking care of calendar javascript interactions-->
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type="text/javascript"  src="../../static/javascript/canvasser_script/canvas.js"></script>
  <script type="text/javascript">
    canvasEvents = myFunc({{avails|tojson}})
  </script>
  <script type="text/javascript" src="../../static/javascript/canvasser_script/fullcalendar_jq.js"></script>
  <script type="text/javascript" src="../../static/javascript/canvasser_script/fullcalendar.js"></script>


  </body>
</html>