{% extends "header.html" %}

{% block header %}
    <link href="/static/css/done_canvas.css" rel="stylesheet">
    <script href="/static/javascript/canvasser_script/done_canvas.js" rel="stylesheet"></script>

{% endblock %}

<!----------------------BODY PART---------------------------------------------->
{% block body %}
    <div class="container">

    <!-- main functional parts -->
    <h1 style="text-align:center; margin-top: 2%; font-style: italic;">Set Results Information</h1>
    <hr/>
     <button class="btn btn-info" type="button" id="canHome" onclick="window.location.href='{{ url_for( 'canvasser.canPage', u_name = session['info']['name'])}}' ">HomePage</button>
     <br/><br/>
    <div class="alert alert-secondary" style="text-align: center;">
  <strong>Location: </strong> Indicates a neutral informative change or action.
</div>
    <form>
      <!------------- For Spoke To --------------------------->
      <div class="form-group">
         <i class="fa fa-question-circle" aria-hidden="true" style="padding-right: 10px;"></i><label>How do you rate your overall experience?</label><br/>
         <div class ="form-check form-check-inline"style="margin-left: 10%;">
           <label class="container">Yes
              <input type="radio" name="radio" value="yes" checked>
              <span class="checkmark"></span>
          </label>
          <label class="container">No
              <input type="radio" name="radio" value="no">
              <span class="checkmark"></span>
          </label>
         </div>
      </div>
      <!-----------------For Ratingn------------------->
      <div class="form-group">
        <i class="fa fa-question-circle" aria-hidden="true" style="padding-right: 10px;"></i><label>How do you rate your overall experience?</label>
         <div class="row">
            <div class="col-lg-8 text-center rating-star">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                  <input type="radio" id="star45" name="rating" value="4.5" /><label class="half" for="star45" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star35" name="rating" value="3.5" /><label class="half" for="star35" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                  <input type="radio" id="star25" name="rating" value="2.5" /><label class="half" for="star25" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star15" name="rating" value="1 and a half" /><label class="half" for="star15" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="0.5" checked /><label class="half" for="starhal" title="Sucks big time - 0.5 stars"></label>
          </div>
        </div>
      </div>
<!-------------------- Questionair---------------------------->
  <hr/>
      <div class="form-group">
        <i class="fa fa-question-circle" aria-hidden="true" style="padding-right: 10px;"></i><label>Answers to Questionaires</label>
      </div>
      <div class="form-group" style="margin-left: 5%;">
        <!------------ Q1--------------->
       <i class="fa fa-quora" style="padding-right: 10px;">:</i><label>Put question here!</label>
          <div class ="form-check form-check-inline"style="margin-left: 30%;">
               <label class="container">Yes
                  <input type="radio" name="q" value="yes" checked>
                  <span class="checkmark"></span>
              </label>
              <label class="container">No
                  <input type="radio" name="q" value="no">
                  <span class="checkmark"></span>
              </label>
         </div><br/>
        <!------------ Q2--------------->
       <i class="fa fa-quora" style="padding-right: 10px;">:</i><label>Put question here q2!</label>
          <div class ="form-check form-check-inline"style="margin-left: 30%;">
               <label class="container">Yes
                  <input type="radio" name="q2" value="yes" checked>
                  <span class="checkmark"></span>
              </label>
              <label class="container">No
                  <input type="radio" name="q2" value="no">
                  <span class="checkmark"></span>
              </label>
         </div>
      </div>
    <hr/>
  <!---------------- Brief Notes----------------------->
      <div class="form-group">
         <i class="fa fa-question-circle" aria-hidden="true" style="padding-right: 10px;"></i><label for="comment">comment</label>
        <textarea class="form-control" rows="5" name="comment" type="text" id="comment" placeholder="None" style="font-size: 20px;"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg" type="button" name="submit" id="submit">Submit Results</button>
      </div>
    </form>
  </div>
  <script>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
             alert('{{ msg }}');
        {% endfor %}
     {% endif %}
  {% endwith %}
</script>
{%  endblock %}