{% extends "header.html" %}

{% block header %}
    <!-- Custom styles for this login page -->
    <link href="/static/css/view_canvasser_ass.css" rel="stylesheet">
    <!----------Inital location Makers---->
  <script type="text/javascript">
    $(document).ready(function () {
         var past_locations=[];
         var up_locations=[]
       // Get past locations
       {% for instance in past_assignments %}
          var one_location=[];
         one_location.push('{{past_assignments[instance][0]}}', '{{past_assignments[instance][1]}}','{{past_assignments[instance][2]}}','{{ instance.id}}');
         past_locations.push(one_location);
      {% endfor %}
      // Get upcoming locations
      {% for instance in upcoming_assignments %}
          var one_location=[];
         one_location.push('{{upcoming_assignments[instance][0]}}', '{{upcoming_assignments[instance][1]}}','{{upcoming_assignments[instance][2]}}','{{ instance.id}}');
         up_locations.push(one_location);
      {% endfor %}

      // Generate Map
       var mapOptions = {
            center: new google.maps.LatLng(40.9256538, -73.140943),
            zoom: 13
        }
        map = new google.maps.Map(document.getElementById("map"), mapOptions);
            var infowindow = new google.maps.InfoWindow();

    // Inital Markers
        var marker, i;
        var bounds = new google.maps.LatLngBounds();
// Past
        for (i = 0; i < past_locations.length; i++) { 
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(past_locations[i][1], past_locations[i][2]),
            label:"Past Assignments:#"+i,
            title:past_locations[i][0],
            map: map
          });

          bounds.extend(marker.getPosition());
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(past_locations[i][0]);
              infowindow.open(map, marker);
              map.setCenter(marker.getPosition());
              map.setZoom(16);
              // If close infowindow, then go back to default mapsetting
              google.maps.event.addListener(infowindow, 'closeclick', function() {
                    map.fitBounds(bounds);
              });
            var id = past_locations[i][3];
           {% for instance in past_assignments %}
            if ( {{instance.id}} == id){
                 window.location.href = "{{ url_for('canvasser.view_assignment_detail', ass_id = instance.id)}}";
               }
          {% endfor %}
            }
          })(marker, i));
        }
// Upcoming
         for (i = 0; i < up_locations.length; i++) { 
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(up_locations[i][1], up_locations[i][2]),
            label:"Upcoming Assignments:#"+i,
            title:up_locations[i][0],
            map: map
          });

          bounds.extend(marker.getPosition());
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(up_locations[i][0]);
              infowindow.open(map, marker);
              map.setCenter(marker.getPosition());
              map.setZoom(16);
              // If close infowindow, then go back to default mapsetting
              google.maps.event.addListener(infowindow, 'closeclick', function() {
                    map.fitBounds(bounds);
              });
            var id = up_locations[i][3];
           {% for instance in upcoming_assignments %}
            if ( {{instance.id}} == id){
                 window.location.href = "{{ url_for('canvasser.view_assignment_detail', ass_id = instance.id)}}";
               }
          {% endfor %}
            }
          })(marker, i));
        }
        // Let us to see all markers together
        map.fitBounds(bounds);
        
      });
</script>

{% endblock %}

<!----------------------BODY PART---------------------------------------------->
{% block body %}
      <h2 style="text-align: center;padding-top:10px;">Assignments</h2>
      <hr/>
    <button class="btn btn-info" type="button" style="margin-left:5%" id="canHome" onclick="window.location.href='{{ url_for( 'canvasser.canPage', u_name = session['info']['name'])}}' ">HomePage</button><br/><br/>
    <!-------------Basic Instruction--------------->
     <h4 style="margin-left:5%"><span style="padding-left:5px; font-weight: bold;">Basic Instructions : </span></h4>
     <h5 style="margin-left:10%">You have two ways to see your assigment details<br/>
        <ul>
              <li>Select from assignements list</li>
              <li> Click the location marker on the map</li>
        </ul>  
    </h5><hr/>
    <div class="row">
   <!-- ----------- Past Assignments in list -->
      <div class="panel panel-primary col"id="assigment_list">
        <div class="panel-heading" style="margin-left: 5%;"><h3 class="panel-title">Past assignments on List</h3>
        </div>
        <div class="panel-body">
          {% if past_assignments is defined and past_assignments|length > 0 %}
          <ul class="list-group">
             {% for instance in past_assignments %}
            <a style="color:black !important;" class="list-group-item btn btn-info" value="{{ instance.id}}" href="{{ url_for('canvasser.view_assignment_detail', ass_id = instance.id)}}"><strong>Assignment #{{instance.order}}:</strong> {{past_assignments[instance][0]}} ({{past_assignments[instance][1]}},{{past_assignments[instance][2]}} )</a>
          {% endfor %}
        </ul>
        {% else %}
          <div class="alert alert-warning" role="alert" style="margin-left: 1%;">
            <i class="fa fa-2x fa-info-circle"></i><span style ='margin-left: 1%; font-weight: bold; font-size: 18px; color: black;'>No past assignments</span>
            </div>
        {% endif %}
     </div>
    </div> 
   <!-- ----------- Upcoming Assignments on List -->
      <div class="panel panel-primary col"id="assigment_list">
        <div class="panel-heading" style="margin-left: 5%;"><h3 class="panel-title">Upcoming Assignments on List</h3>
        </div>
        <div class="panel-body">
        {% if upcoming_assignments is defined and upcoming_assignments|length > 0 %}
          <ul class="list-group">
               {% for instance in upcoming_assignments %}
                 <a style="color:black !important;" class="list-group-item btn btn-info" value="{{  instance.id}}" href="{{ url_for('canvasser.view_assignment_detail', ass_id = instance.id)}}"><strong>Assignment #{{instance.order}}:</strong> {{upcoming_assignments[instance][0]}} ({{upcoming_assignments[instance][1]}},{{upcoming_assignments[instance][2]}} )</a>
             {% endfor %}
        </ul>
        {% else %} 
          <div class="alert alert-warning" role="alert">
              <i class="fa fa-2x fa-info-circle"></i><span style ="margin-left: 1%; font-size: 18px; font-weight: bold; color: black;">No upcoming assignments</span>
          </div>
      {% endif %}
    </div>
  </div> 
</div>
<hr/>
<div class="row">
<!----------------Loading locations for creating markers on Map-------->

  <div class="panel  panel-primary col" id="result_panel">
      <div class="panel-heading" style="margin-left: 5%;"><h3 class="panel-title">Locations on Map</h3>
      </div>
      <div class="panel-body">
        <div id="map" name="map" style=" height: 350px;background-color: grey"></div>
      </div>
  </div> 
</div>

<!----------------- Viiew Assignment Detail-------------->
{% if detail %}
    <div class="col-md-8" style="margin-left: 20%">
        <div class="card-body">
            <div class="row">
               <div class="col-md-12">
                 <h4><i class="fa fa-info-circle fa-lg"></i><span style="padding-left:10px; font-weight: bold;">Assignment Information</span></h4> 
                 <hr/>
                </div>
            </div>
            <!---------Details----------->
            <div class="row">
                <div class="col-md-12">
                        <!-------- Canvasser Name--------->  
                        <div class="form-group row">
                          <label for="username" class="col-3 col-form-label">Canvasser's Name:</label> 
                            <div class="col-6">
                                <input id="username" name="username" placeholder="Canvaser Name" class="form-control here" {% if detail %} value="{{ detail['canvasser_name'] }}" {% endif %} readonly type="text">
                                </div>
                        </div>
                        <!--------Campaingn Name--------->  
                        <div class="form-group row">
                          <label for="campName" class="col-3 col-form-label">Campaign Name:</label> 
                            <div class="col-6">
                                <input id="campName" name="campName" placeholder="Campagin Name" class="form-control here" {% if detail %} value="{{ detail['campaign_name'] }}" {% endif %} readonly type="text"> 
                                </div>
                        </div>
                        <!---------Date------------>
                        <div class="form-group row">
                                <label for="date" class="col-3 col-form-label">Date:</label> 
                                <div class="col-8">
                                  <input id="date" name="date" placeholder="Assignment Date" class="form-control" type="text" {% if detail %} value="{{ detail['assignment'].theDate }}" {% endif %} readonly>
                                </div>
                        </div>
                        <!---------Location Address------------>
                        <div class="form-group row">
                                <label for="location" class="col-3 col-form-label">Location:</label> 
                                <div class="col-8">
                                  <input id="location" name="location" placeholder="Assignment Location" class="form-control" type="text" {% if detail %} value="{{ detail['location'][0] }}" {% endif %} readonly>
                                </div>
                        </div>                        
                         <!---------Lat------------>
                        <div class="form-group row">
                                <label for="lat" class="col-3 col-form-label">Latitude:</label> 
                                <div class="col-8">
                                  <input id="lat" name="lat" placeholder="Location Lat" class="form-control" type="text" {% if detail %} value="{{ detail['location'][1] }}" {% endif %} readonly>
                                </div>
                        </div>
                         <!---------Lng------------>
                        <div class="form-group row">
                                <label for="lng" class="col-3 col-form-label">Longtitude:</label> 
                                <div class="col-8">
                                  <input id="lng" name="lng" placeholder="Location Lng" class="form-control" type="text" {% if detail %} value="{{ detail['location'][2] }}" {% endif %} readonly>
                                </div>
                        </div>
                        <!---------Talking Point--------->
                        <div class="form-group row">
                                <label for="talking" class="col-3 col-form-label">Talking Point</label> 
                                <div class="col-8">
                                  <input id="talking" name="talking" placeholder="Without Talking Point" class="form-control" type="text" {% if detail %} value="{{ detail['talking'] }}" {% endif %} readonly>
                                </div>
                        </div>

                        <!---------Questions--------->                    
                        <div class="form-group row">
                            <label for="questions" class="col-3 col-form-label">Assignment Questionaire</label> 
                                <div class="col-8">
                                  <select class="col-8" id="questions" name="questions" readonly>
                                    {% for q in detail['questions'] %}
                                    <option>{{ q.question }}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                        </div>
                        <!--------Has Result--------->                    

                          <div class="form-group row ">
                            <label for="result" class="col-3 col-form-label"> Has Result(s) ? </label>
                              <label class="toggle" style="word-spacing: 10px;">
                                  <input type="radio" id="result" name="result" {% if detail and detail['assignment'].done %} checked {% endif %} > <span class="label-text">Yes</span>
                                  <input type="radio" id="result" name="result" {% if detail and ( not detail['assignment'].done )%} checked {% endif %}> <span class="label-text">No</span>
                              </label>
                          </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- map js files--> 
    <script  src="/static/javascript/canvasser_script/viewAssignment.js"></script> 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGuEpRycbTYDCcS6uxiot0x0eSLkpTbiY&libraries=places&callback=initAutocomplete"></script>
{%  endblock %}