{% extends "header.html" %}

{% block header %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/javascript/bs_js/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- Custom styles for this login page -->
    <link href="/static/css/canvasser.css" rel="stylesheet">
    <link href="/static/css/view_canvasser_ass.css" rel="stylesheet">

{% endblock %}

<!----------------------BODY PART---------------------------------------------->
{% block body %}
    <!-- main functional parts -->
      <h1 style="text-align: center;padding-top:10px;">Assignments</h1>
      <hr/>
    <button class="btn btn-info" type="button" style="margin-left:5%" id="canHome" onclick="window.location.href='{{ url_for( 'canvasser.canPage', u_name = session['info']['name'])}}' ">HomePage</button><br/><br/>
    <!-------------Title---------------->
     <h4 style="margin-left:5%"><span style="padding-left:5px; font-weight: bold;">Basic Instructions : </span></h4>
     <h5 style="margin-left:10%">You have two ways to see your assigment details<br/>
        <ul>
              <li>Select from assignements list</li>
              <li> Click the location marker on the map</li>
        </ul>  
    </h5><hr/>
    <div class="row">
      <div class="panel panel-primary col"id="assigment_list">
        <div class="panel-heading" style="margin-left: 5%;"><h3 class="panel-title">Locations on List</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
             {% for instance in assignments %}
            <button class="list-group-item list-group-item-action" value="{{ instance.id}}" onclick="window.location.href='{{ url_for('canvasser.view_assigment_detail', ass_id = instance.id)}}' ">{{assignments[instance][0]}} ({{assignments[instance][1]}},{{assignments[instance][2]}} )</button>
          {% endfor %}
        </ul>
    </div>
</div> 


<div class="panel  panel-primary col" id="result_panel">
    <div class="panel-heading" style="margin-left: 5%;"><h3 class="panel-title">Locations on Map</h3>
    </div>
    <div class="panel-body">
              <div id="map" name="map" style=" height: 350px;background-color: grey"></div>
    </div>
</div> 
</div>  <!----------------Loading locations for creating markers on Map-------->
    <!-- map js files--> 
    <script  src="/static/javascript/canvasser_script/viewAssignment.js"></script> 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGuEpRycbTYDCcS6uxiot0x0eSLkpTbiY&libraries=places&callback=initAutocomplete"></script>
{%  endblock %}