#portrait{
	text-align: center;
}
#global{
	margin: 10px 5% 10px 5%;
}

#change{
	padding: 0;
	border: none;
	background: none;
}

#delete{
	padding: 0;
	border: none;
	background: none;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
#change:focus{
	outline: none;
	animation: bounce 1s;
}
#delete:focus{
	outline: none;
	animation: bounce 1s;
}



