#assignment{
	font-size: 18px;
	margin-left: 5%;
	padding-top: 10px;
}

#instructions{
	border: 1;
}

.dropdown-item:hover{
	font-size: 22px;
	font-weight: bold;
	background-color: skyblue;
}

#canHome:hover{
	font-size: 23px;	
}

.list-group{
    max-height: 350px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
