<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/manager.css">
		
		<script type="text/javascript">
			document.querySelector('input.deleteM').addEventListener('click', function() {
				//var n = document.getElementsByName('flaskManager');
				alert("Button");

			});
		</script>
		
	</head>
    
	<body  >
		<div class="container" > 
			<div style="width: 1500px;background-color:white;opacity: .7"><span class="title" > Create Campaign </span> </div>
			<div class="nav"> </div>
            <div class="float" >
            	<div class="stay" style="position:fixed">
	                <div class="onPage" onclick="location.href='{{ url_for('manager.createCampaign') }}'"><span class="link">Create Campaign<span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.editCampaign') }}'"><span class="link">Edit Campaign</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.viewCampaign') }}'"><span class="link">View Campaign</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.viewCampaignResult') }}'"><span class="link">View Campaign Result</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.viewCanvasAssignment') }}'"><span class="link">View Canvas Assignment</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.createCanvasAssignment') }}'"><span class="link">Create Canvas Assignment</span></div>
	            </div>
            </div>
            <div class="signOut" onclick="location.href='{{ url_for('auth.login') }}'"><span class="outText" >Sign Out</span> </div>

            
		</div>
			
		<div class="container"  style="opacity: 1">
			<form id="createCampaign" method="post" style="height: 1350px">

				<div class="box" style="height:130px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Campaign Info</span>
					<div class="content" style="margin-left:10px;" >
						<table  cellpadding="3">
							<tr>
								<td nowrap="" style="width:200px"> Campaign Name: </td>
								<td> <input type="text" name="campaign_name" value=""></td>
							</tr>
							<tr>
								<td nowrap="" style="width:200px"> Set Manager: </td>
								<td><select type="text" id="manager_selector" onchange="addManagerToTable()"  >
									
									<option value='null' ></option>
									{% for item in managers %}
										<option value='{{item.name}}'> {{item.name}} </option>
										
									{% endfor %}
									
									
									</select>
								</td>
							</tr>
						</table>
					</div>
					<div id='manageTable' style="overflow-y: scroll" onmousemove="a()">
			            <table id="insertManager" cellpadding="3" >
							<tr><th nowrap="" style="width:200px"> Manager</th></tr>
							<!----INSERTTRTRTETETTE--->
						</table>
					</div>
				</div>
				<div class="box" style="height:90px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Assign Canvasser</span>
					<div class="content" style="margin-left:10px;" >
						<table  cellpadding="3">
							<tr>
								<td nowrap="" style="width:200px"> Set Canvasser: </td>
								<td><select id="canvasser_selector" onchange="addCanvasserToTable()">
										<option value='null' ></option>
									{% for item in canvasser %}
										<option value='{{item.name}}'> {{item.name}} </option>
										
									{% endfor %}
										
									</select>
								</td>
							</tr>
							
						</table>
					</div>
					<div id='canvasTable' style="overflow-y: scroll" onmousemove="a()">
			            <table id="insertCanvasser" cellpadding="3" >
							<tr><th nowrap="" style="width:200px"> Canvasser</th></tr>
						</table>
					</div>
				</div>

				<div class="box" style="height:130px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Time</span>
					<div class="content" style="margin-left: 30px">
						<table>
							<tr>
								<td nowrap="" style="width:130px; " > Start Date: </td>
								<td> <input type="date" name="start_date"></td>
							</tr>
							<tr>
								<td nowrap="" style="width:130px; " > End Date: </td>
								<td> <input type="date" name="end_date"></td>
								
							</tr>
						</table>
					</div>
				</div>

				<div class="box" style="height:400px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Location</span>
					<div class="content" style="margin-left: -15px; margin-top: -10px">
						<table>
                            <tr>
                                <td nowrap="" style="width:200px;position: relative; top:-80px">Pick Location:</td>
                                <td><div id="map" name="map_location" style="position: relative; left:5px; top: 30px;height: 250px; width: 270px;background-color: blue"></div></td>
                            </tr>
                            <tr>
                                <td nowrap="" style="width:200px;position: relative; top:50px">Street Address: </td>
                                <td> <input type="text" name="address" style="position:relative;top:50px; left:-20px;width:270px" ></td>
                            </tr>




                        </table>
					</div>
				</div>


				<div class="box" style="height:90px; width:450px; margin-top:40px;"><span class="label" style="font-size: 17px;">Questionaires</span>
					<div class="content" style="margin-left:10px;" >
						<table  cellpadding="3">
							<tr>
								<td nowrap="" style="width:200px"> Select Questions: </td>
								<td><select type="text" id="question_selector" style="width:300px" onchange="addManagerToTable()"  >
									
									
									<option value='q1'> How is your experience with the campaign </option>
									<option value="q2"> Did you enjoy the campign?</option>
									<option value="q3"> Are you satisfied with the outcome?</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<!-- <div id='questionTable' style="overflow-y: scroll" onmousemove="a()">
			            <table id="insertManager" cellpadding="3" >
							<tr><th nowrap="" style="width:200px"> Manager</th></tr>
							
						</table>
					</div>
 -->				</div>

				<button class="submit" type="submit"  onclick="" >Create Campaign</button>
			</form>
		</div>
	</body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
    <script type="text/javascript" src="../../static/javascript/manager_js/create_campaign.js"></script>
</html>