<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/manager.css">
		
		
		
	</head>
    
	<body>
		<div class="container" > 
			<div style="width: 1500px;background-color:white;opacity: .7"><span class="title" > Edit Campaign </span> </div>
			<div class="nav">
                
			</div>
            <div class="float">
            	<div class="stay" style="position:fixed">
                    <div class="n" onclick="location.href='{{ url_for('manager.createCampaign') }}'"><span class="link">Create Campaign</span></div>
	                <div class="onPage" onclick="location.href='{{ url_for('manager.editCampaign') }}'"><span class="link">Edit Campaign</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.viewCampaign') }}'"><span class="link">View Campaign</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.viewCampaignResult') }}'"><span class="link">View Campaign Result</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.viewCanvasAssignment') }}'"><span class="link">View Canvas Assignment</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.createCanvasAssignment') }}'"><span class="link">Create Canvas Assignment</span></div>
	            </div>
            </div>
			<div class="signOut" onclick="location.href='{{ url_for('auth.login') }}'"><span class="outText">Sign Out</span> </div>
		</div>

		<div class="container">
			<form id="createCampaign" method="post">
				<div class="box" style="height:120px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Select Campaign</span>
					<div class="content" style="margin-left:10px;" >
						<table  cellpadding="3">
							<tr>
								
									<td nowrap="" style="width:200px"> Select Campaign: </td>
									<td>
										<select name="campaign_name" value="" >
											<option value=""></option>
											{% for item in camp %}
												<option value='{{item.campaign_name}}'><a>
												 {{item.campaign_name}}
												</a>
												</option>
											{% endfor %}
										</select>
										<button alt='Submit Form'>Select Campaign</button>
									</td>
							</tr>
							<tr>
								<td nowrap="" style="width:130px; ">Campiagn Name:</td>
								<td> <input type="text" name="new_campaign_name" value="{{campaign_name}}"></td>
							</tr>

						</table>
					</div>
				</div>


				<div class="box" style="height:120px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Manager and Canvasser</span>
					<div class="content" style="margin-left:10px;" >
						<table  cellpadding="3">
							<tr>
								<td nowrap="" style="width:200px"> Select Manager: </td>
								<td><select name="manager_name" value="">
										<option value="none"></option>
										
									</select>
								</td>
							</tr>
							<tr>
								<td nowrap="" style="width:200px"> Select Canvasser: </td>
								<td><select name="canvasser_name" value="">
										<option value="none"></option>
									</select>
								</td>
							</tr>
							
						</table>
					</div>
					<div id='manageTable' style="height: 120px;overflow-y: scroll" onmousemove="a()">
			            <table id="insertManager" cellpadding="3" >
							<tr><th nowrap="" style="width:200px"> Manager</th></tr>
							{% for i in manager_name%}
							<input name="flaskManager" type="text" class="dis" value="{{i.name}}">
							{% endfor %}
						</table>
					</div>

					<div id='canvasTable' style="margin-top:40px; height:120px;overflow-y: scroll" onmousemove="a()">
			            <table id="insertCanvasser" cellpadding="3" >
							<tr><th nowrap="" style="width:200px"> Canvasser</th></tr>
							{% for i in canvasser_name%}
							<input name="flaskCanvasser" type="text" class="dis" value="{{i.name}}">
							{% endfor %}
						</table>
					</div>

				</div>

 				<div class="box" style="height:130px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Time</span>
					<div class="content" style="margin-left: 30px">
						<table>
							<tr>
								<td nowrap="" style="width:130px; " > Set Date: </td>
								<td> <input type="date" name="campaign_date"></td>
							</tr>
							<tr>
								<td nowrap="" style="width:130px; " > Set Time: </td>
								<td> <input type="time" name="campaign_time"></td>
								<td nowrap="" style="font-size: 11px " > hh:mm AM/PM </td>
							</tr>
						</table>
					</div>
				</div>


				<div class="box" style="height:400px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Location</span>
					<div class="content" style="margin-left: -15px; margin-top: -10px">
						<table>
                            <tr>
                                <td nowrap="" style="width:200px;position: relative; top:-80px">Pick Location:</td>
                                <td><div id="map" name="map_location" style="position: relative; left:5px; top: 30px;height: 250px; width: 270px;background-color: blue"></div></td>
                            </tr>
                            <tr>
                                <td nowrap="" style="width:200px;position: relative; top:50px">Address: </td>
                                <td> <input type="text" name="address_location" style="position:relative;top:50px; left:-20px;width:300px" name="address" value="{{location}}"></td>
                            </tr>
                        </table>
					</div>
				</div>
				<button class="submit"  onclick="" >Update Campaign</button>
			</form>



		</div>
		<script type="text/javascript">
			function myMap(){

				var mapProp = {
					center:new google.maps.LatLng(51.508742,-0.120850),
			    	zoom:15,
				};
				var map = new google.maps.Map(document.getElementById("map"),mapProp);
				var geocoder = new google.maps.Geocoder();
				geocoder.geocode({'address': '{{location}}' }, function(results, status) {
			          if (status === 'OK') {
			            map.setCenter(results[0].geometry.location);
			            var marker = new google.maps.Marker({
			              map: map,
			              position: results[0].geometry.location
			            });
			          } else {
			            alert('Geocode was not successful for the following reason: ' + status);
			          }
			        });
				
			}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGuEpRycbTYDCcS6uxiot0x0eSLkpTbiY&callback=myMap"></script>
		<script type="text/javascript" src="../../static/javascript/manager_js/edit_campaign.js"></script>
	</body>
</html>