<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/manager.css">
		
		
		
	</head>
    
	<body>
		<div class="container" > 
			<div style="width: 1500px;background-color:white;opacity: .7"><span class="title" > Edit Campaign </span> </div>
			<div class="nav">
                
			</div>
            <div class="float">
            	<div class="stay" style="position:fixed">
                    <div class="n" onclick="location.href='{{ url_for('manager.createCampaign') }}'"><span class="link">Create Campaign</span></div>
	                <div class="onPage" onclick="location.href='{{ url_for('manager.editCampaign') }}'"><span class="link">Edit Campaign</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.viewCampaign') }}'"><span class="link">View Campaign</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.viewCampaignResult') }}'"><span class="link">View Campaign Result</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.viewCanvasAssignment') }}'"><span class="link">View Canvas Assignment</span></div>
	                <div class="n" onclick="location.href='{{ url_for('manager.createCanvasAssignment') }}'"><span class="link">Create Canvas Assignment</span></div>
	            </div>
            </div>
			<div class="signOut" onclick="location.href='{{ url_for('auth.login') }}'"><span class="outText">Sign Out</span> </div>
		</div>

		<div class="container">
			<form id="createCampaign" method='post' action="{{url_for('manager.showCampaign')}}" style="height: 1800px">
				<div class="box" style="height:120px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Select Campaign</span>
					<div class="content" style="margin-left:10px;" >
						<table  cellpadding="3">
							<tr>
								<td nowrap="" style="width:200px"> Select Campaign: </td>
								<td><select id="scampaign_name" value="" onchange="displayEdit()"> 
										<option value="none" ></option>
										<otion value='{{show}}' selected="selected">{{show}}</option>
										
										{% for item in camp %}
											<option value='{{item.campaign_name}}'> {{item.campaign_name}} </option>
										{% endfor %}
									</select>
								</td>
							</tr>
							<tr>
								<td nowrap="" style="width:130px; " > New Campiagn Name:</td>
								<td> <input type="text" name="new_campaign_name" id="new_campaign_name" value ='{{show}}'></td>
							</tr>

						</table>
					</div>
				</div>


				<div class="box" style="height:120px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Manager and Canvasser</span>
					<div class="content" style="margin-left:10px;" >
						<table  cellpadding="3">
							<tr>
								<td nowrap="" style="width:200px"> Select Manager: </td>
								<td><select id='manager_selector'name="manager_name" value="" onchange="addManagerToTable()">
										<option value="null"></option>

										{% for item in managers %}
											<option value='{{item}}'> {{item}} </option>
										{% endfor %}

									</select>
								</td>
							</tr>
							<tr>
								<td nowrap="" style="width:200px"> Select Canvasser: </td>
								<td><select id='canvasser_selector' name="canvasser_name" value="" onchange="addCanvasserToTable()">
										
										<option value="null"></option>

										{% for item in canvasser %}
											<option value='{{item}}'> {{item}} </option>
										{% endfor %}

									</select>
								</td>
							</tr>
							
						</table>
					</div>
					
					<div id='manageTable' style="height: 120px;overflow-y: scroll" onmousemove="a()">
			            <table id="insertManager" cellpadding="3" >
 							<tr><th nowrap="" style="width:200px"> Manager</th></tr>
								{% for item in currentManagers %}
									<script type="text/javascript">
										var b = '{{item}}'
										var node = document.getElementById("insertManager");//insertManager is name of table
										var trNode = document.createElement("input");
										trNode.setAttribute("name", "flaskManager");
										trNode.setAttribute("type", "text");
										trNode.setAttribute("class", "dis");
										trNode.setAttribute("value", b)
										node.appendChild(trNode);
									</script>
								{% endfor %}
						</table>
					</div>
					
					<div id='canvasTable' style="margin-top:40px; height:120px;overflow-y: scroll" onmousemove="a()">
			            <table id="insertCanvasser" cellpadding="3" >
							<tr><th nowrap="" style="width:200px"> Canvasser</th></tr>
								{% for item in currentCanvassers %}
									<script type="text/javascript">
										var node = document.getElementById("insertCanvasser");//insertManager is name of table
										var trNode = document.createElement("input");
										trNode.setAttribute("name", "flaskCanvasser");
										trNode.setAttribute("type", "text");
										trNode.setAttribute("class", "dis");
										trNode.setAttribute("value", b)
										node.appendChild(trNode);
									</script>
								{% endfor %}
						</table>
					</div>

				</div>

 				<div class="box" style="height:130px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Time</span>
					<div class="content" style="margin-left: 30px">
						<table>
							<tr>
								<td nowrap="" style="width:130px; " > Start Date: </td>
								<td> <input type="date" name="start_date" value='{{start}}'></td>
							</tr>
							<tr>
								<td nowrap="" style="width:130px; " > End Date: </td>
								<td> <input type="date" name="end_date" value='{{end}}'></td>
								
							</tr>
						</table>
					</div>
				</div>


				<div class="box" style="height:400px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Location</span>
					<div class="content" style="margin-left: -15px; margin-top: -10px">
						<table>
                            <tr>
                                <td nowrap="" style="width:200px;position: relative; top:-80px">Pick Locations:</td>
                                <td><div id="map" name="map_location" style="position: relative; left:5px; top: 30px;height: 250px; width: 270px;background-color: blue"></div></td>
                            </tr>
                            <tr>
                                <td nowrap="" style="width:200px;position: relative; top:50px">Street Address: </td>
                                <td> <input type="text" id="address" style="position:relative;top:50px; left:-20px;width:270px" ></td>
                            </tr>
                            <tr>
                            	<td></td>
                            	<td>
                            	<button class="submit" type="button" onclick="addLocationToTable()">Add Location</button>
                            	</td>

                            </tr>
                        </table>
					</div>
					<div id='locationTable' style="overflow-y: scroll" onmousemove="a()">
			            <table id="insertLocation" cellpadding="3" >
							<tr><th nowrap="" style="width:200px">Locations</th></tr>
						</table>
					</div>
				</div>
				<div class="box" style="height:140px; width:450px; margin-top:40px;"><span class="label" style="font-size: 17px;">Questionaires</span>
					<div class="content" style="margin-left:10px;" >
						<table  cellpadding="3">
							<tr>
								<td nowrap="" style="width:200px"> Enter Questions: </td>
								<td>
								<input id="questions" type="" name="questions">
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<button class="submit-location" type="button" onclick="addQuestionToTable()">Add Question</button>
								</td>
							</tr>
						</table>
					</div>
					<div id='questionTable' style="overflow-y: scroll" onmousemove="a()">
			            <table id="insertQuestions" cellpadding="3" >
							<tr><th nowrap="" style="width:200px">Questions</th></tr>
						</table>
					</div>
			</div>
			<div class="box" style="height:120px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Set Talking Points</span>
					<div class="content" style="margin-left:10px;" >
						<table  cellpadding="3">
							<tr><span class="label" style="font-size: 17px;">What the Canvasser should say during the visit</span></tr>
							<tr>
								<textarea name="talking" style="width: 300px;height: 50px;margin-top: 2px;"></textarea>
							</tr>
							
						</table>
					</div>
			</div>

			<div class="box" style="height:90px; width:450px; top:160px;"><span class="label" style="font-size: 17px;">Duration of Canvas</span>
					<div class="content" style="margin-left:10px;" >
						<table  cellpadding="3">
							<tr>
								<td nowrap="" style="width:200px"> Set Duration: </td>
								<td>
									<select name = "duration">
										<option value="5">5 minutes</option>
										<option value="10">10 minutes</option>
										<option value="15">15 minutes</option>
										<option value="20">20 minutes</option>
										<option value="25">25 minutes</option>
										<option value="30">30 minutes</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
			</div>


				<button class="submit" name='submit_btn' value="submit_form">Update Campaign</button>
			</form>



		</div>
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGuEpRycbTYDCcS6uxiot0x0eSLkpTbiY&callback=myMap"></script>
		<!-- <script type="text/javascript" src="../../static/javascript/manager_js/create_campaign.js"></script> -->

<script type="text/javascript">
	function generate_map() {
		var mapOptions = {
		    center: new google.maps.LatLng(51.5, 40.12),
		    zoom: 10,
		    mapTypeId: google.maps.MapTypeId.HYBRID
		}
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);
	}
	generate_map();
	// <option value='{{show}}' selected="selected">{{show}}</option>
	function displayEdit(){
		var a = document.getElementById("scampaign_name");
		document.getElementById("new_campaign_name").value = a.value; 
		document.getElementById("createCampaign").submit();

	}
	function a(){
		document.addEventListener("click", function(e){
			if(e.target.name == "flaskManager"){
				var value = e.target.value;
				var arr = document.getElementsByName('flaskManager');

				for(var i = 0; i < arr.length; i++){
							
					if(arr[i].value == value){
					 	arr[i].parentNode.removeChild(arr[i]);
					}
				}
			}else if(e.target.name == "flaskCanvasser"){
				var value = e.target.value;
				var arr = document.getElementsByName('flaskCanvasser');

				for(var i = 0; i < arr.length; i++){
					if(arr[i].value == value){
					 	arr[i].parentNode.removeChild(arr[i]);
					}
				}
			}else if(e.target.name == "flaskLocation"){
				var value = e.target.value;
				var arr = document.getElementsByName('flaskLocation');

				for(var i = 0; i < arr.length; i++){
					if(arr[i].value == value){
					 	arr[i].parentNode.removeChild(arr[i]);
					}
				}
			}else if(e.target.name == "flaskQuestion"){
				var value = e.target.value;
				var arr = document.getElementsByName('flaskQuestion');

				for(var i = 0; i < arr.length; i++){
					if(arr[i].value == value){
					 	arr[i].parentNode.removeChild(arr[i]);
					}
				}
			}
		});
	}

	function addManagerToTable(){
		console.log("Im here and b = ");
		var a = document.getElementById("manager_selector");
		var b = a.value;
		
		if(b != "null"){
			var ob = document.getElementsByName("flaskManager");
			if(ob.length == 0){
				var node = document.getElementById("insertManager");//insertManager is name of table
				var trNode = document.createElement("input");
				trNode.setAttribute("name", "flaskManager");
				trNode.setAttribute("type", "text");
				trNode.setAttribute("class", "dis");
				trNode.setAttribute("value", b)
				node.appendChild(trNode);
				console.log(node)
				
			}else{
				var bool = exists(b, ob);
				if(bool ==false){
					var node = document.getElementById("insertManager");//insertManager is name of table
					var trNode = document.createElement("input");
					trNode.setAttribute("name", "flaskManager");
					trNode.setAttribute("type", "text");
					trNode.setAttribute("class", "dis");
					trNode.setAttribute("value", b)
					node.appendChild(trNode);

				}
			}	
		}
		a.selectedIndex= -1;

	}

	function addCanvasserToTable(){
		var a = document.getElementById("canvasser_selector");
		var b = a.value;
		if(b != "null"){
			var ob = document.getElementsByName("flaskCanvasser");
			if(ob.length == 0){
				var node = document.getElementById("insertCanvasser");//insertManager is name of table
				var trNode = document.createElement("input");
				trNode.setAttribute("name", "flaskCanvasser");
				trNode.setAttribute("type", "text");
				trNode.setAttribute("class", "dis");
				trNode.setAttribute("value", b)
				node.appendChild(trNode);
				

			}else{
				var bool = exists(b, ob);
				if(bool == false){
					var node = document.getElementById("insertCanvasser");//insertManager is name of table
					var trNode = document.createElement("input");
					trNode.setAttribute("name", "flaskCanvasser");
					trNode.setAttribute("type", "text");
					trNode.setAttribute("class", "dis");
					trNode.setAttribute("value", b)
					node.appendChild(trNode);
					
				}
			}	
		}
		a.selectedIndex= -1;

	}
	function addLocationToTable(){
		var a = document.getElementById("address");
		var b = a.value;
		if(b != "null"){
			var ob = document.getElementsByName("flaskLocation");
			if(ob.length == 0){
				var node = document.getElementById("insertLocation");
				var trNode = document.createElement("input");
				trNode.setAttribute("name","flaskLocation");
				trNode.setAttribute("type", "text");
				trNode.setAttribute("class", "dis");
				trNode.setAttribute("value", b)	
				node.appendChild(trNode);	
			}
			else{
				var bool = exists(b, ob);
				if(bool ==false){
					var node = document.getElementById("insertLocation");
					var trNode = document.createElement("input");
					trNode.setAttribute("name", "flaskLocation");
					trNode.setAttribute("type", "text");
					trNode.setAttribute("class", "dis");
					trNode.setAttribute("value", b)
					node.appendChild(trNode);
					
				}
			}
		a.selectedIndex = -1;	
		}
	}

	function addQuestionToTable(){
		var a = document.getElementById("questions");
		var b = a.value;
		if(b != "null"){
			var ob = document.getElementsByName("flaskQuestion");
			if(ob.length == 0){
				var node = document.getElementById("insertQuestions");
				var trNode = document.createElement("input");
				trNode.setAttribute("name","flaskQuestion");
				trNode.setAttribute("type", "text");
				trNode.setAttribute("class", "dis");
				trNode.setAttribute("value", b)	
				node.appendChild(trNode);	
			}
			else{
				var bool = exists(b, ob);
				if(bool ==false){
					var node = document.getElementById("insertQuestions");
					var trNode = document.createElement("input");
					trNode.setAttribute("name", "flaskQuestion");
					trNode.setAttribute("type", "text");
					trNode.setAttribute("class", "dis");
					trNode.setAttribute("value", b)
					node.appendChild(trNode);
					
				}
			}
		a.selectedIndex = -1;	
		}
	}

	function exists(text, arr ){
		for( var i = 0; i < arr.length; i++){
			if(text == arr[i].value){
				return true;
			}
		}
		return false;
	}
</script>
	</body>
</html>