{% extends "layout.html" %}
	{% block newHeader %}
	<link rel="stylesheet" type="text/css" href="/static/css/multi.css">

	<link rel="stylesheet" type="text/css" href="/static/css/create_campaign.css">
	{% endblock %}
    {% block title %} <h3 id = "title"> Edit Compaigns </h3> {% endblock %}
{%block main %}
<!-----------------Create Compaign------------------>
<br/>

  <div class="container ">

    <form  method="post" action ="{{url_for('manager.editCampaign', u_email = session['info']['email']) }}" role="form">
    <!---------------------------Compaign Name--------------------->
    <div class="form-group form-inline">
         <label class="col-lg-2" style="font-weight: bold; font-size: 18px;" > Choose Campaign : </label>
            <select class="form-control col-lg-5" name="campaign_list" id="campaign_list">
                <option value="null"></option>
                {% for item in all_campaigns %}
                <option value='{{item.name}}' {% if item.name == campaign_name %}selected{% endif %}>{{item.name}}</option>
                {% endfor %}
            </select>
         <button class ="btn btn-primary" name="submit" value = "select_campaign" > Select Campaign </button>
    </div>

    <div class="form-group form-inline">
         <label class="col-lg-2" style="font-weight: bold; font-size: 18px;" for ="name"> New Campaign Name: </label>
          <input class="form-control col-lg-5 input-md" id ="campaign_name" type="text" name ="campaign_name" placeholder ="Type in New Campaign Name">
    </div>
    <hr/><br/>

    <!---------------------------Select Managers-------------------->
     <div class="form-group">
        <label class="col-lg-3" style="font-weight: bold; font-size: 18px;" for ="managers"> Choose Managers: </label>
         <select multiple="multiple" name="managers" id="managers">
                {% for ele in managers %}
                  <option selected="selected" value ="{{ ele }}">{{managers[ele]}} ({{ele}})</option>
                {% endfor %}
                {% for ele in unselected_managers %}
                    <option value ="{{ ele }}">{{unselected_managers[ele]}}({{(ele)}})</option>
                {% endfor %}
         </select>
     </div>
    <hr/><br/>
      <!---------------------------Select Canvassers------------------->

     <div class="form-group">
        <label class="col-lg-3" style="font-weight: bold; font-size: 18px;" for ="canvasser"> Choose Canvassers: </label>
         <select multiple="multiple" name="canvassers" id="canvassers">

                {% for ele in canvassers %}
                    <option selected="selected" value = "{{ ele }}">{{canvassers[ele]}}({{(ele)}})</option>
                {% endfor %}
                {% for ele in unselected_canvassers %}
                    <option value ="{{ ele }}">{{unselected_canvassers[ele]}}({{(ele)}})</option>
                {% endfor %}
         </select>
     </div>
    <hr/></br>

    <!---------------------------Dates Part--------------------->
     <div  id = "error" {% if not result %} style= "display:none" {% elif ("Error" in result) %} class ="alert alert-danger alert-dismissable" style = "display:block" {% else %} class ="alert alert-success alert-dismissable" style = "display:block" {% endif %}>
          <a href="#" class="close" data-dismiss="alert">&times;</a> <strong> {{ result }} !!! </strong> 
     </div>
    <div class="form-group form-inline">
        <label class="col-lg-2" style="font-weight: bold; font-size: 18px;" for ="start_date">Start Date: </label>
        <input class ="form-control col-lg-5" type="date" data-date-format="yyyy-mm-dd" name="start_date" id ="start_date" value="{{start_date}}">
    </div>
    <div class="form-group form-inline">
        <label class="col-lg-2" style="font-weight: bold; font-size: 18px;" for ="end_date">End Date: </label>
        <input class ="form-control col-lg-5" type="date" data-date-format="yyyy-mm-dd" name="end_date" id ="end_date" value="{{end_date}}">
    </div>
    <hr/><br/>
  <!---------------------------Questions Part--------------------->
    <div class="form-group form-inline">
        <label class="col-lg-2" style="font-weight: bold; font-size: 18px;" for ="question">New Question: </label>
         <input class="form-control col-lg-5 input-md" id ="question" type="text" name ="question" placeholder ="Type New Question" onchange="toggle_question()" oninput="toggle_question()" >
         <a class ="btn btn-primary disabled" id="add_question" onclick="add_question()" disabled> Add New Question </a>
    </div>
    <div class="form-group form-inline">
      <label class="col-lg-2" style="font-weight: bold; font-size: 18px;" for="question_list">Added Question: </label>
        <select multiple="multiple" class="form-control col-lg-5" name="question_list" id="question_list">
          {% for q in question %}
          <option value='{{q.question}}'>{{q.question}}</option>
          {% endfor %}
        </select>
         <a class ="btn btn-primary" id='remove_question' onclick="remove_question()"> Remove Questions </a>
    </div>
    <hr/><br/>
 <!---------------------------Talking Point Part--------------------->
     <div class="form-group form-inline">
        <label class="col-lg-2" style="font-weight: bold; font-size: 18px;" for ="talking">Set Talking Point: </label>
         <textarea class="form-control col-lg-5" rows="3" id="talking" name='talking' placeholder="Without Any Talking Points">{{talking}}</textarea>
    </div>
    <hr/><br/>
 <!---------------------------Duration Part--------------------->
     <div class="form-group form-inline">
        <label class="col-lg-2" style="font-weight: bold; font-size: 18px;" for ="duration">Select Duration: </label>
            <select class="form-control col-lg-5" name = "duration" required >
                <option value="5" {% if duration == 5 %}selected{% endif%}>5 minutes</option>
                <option value="10" {% if duration == 10 %}selected{% endif%}>10 minutes</option>
                <option value="15" {% if duration == 15 %}selected{% endif%}>15 minutes</option>
                <option value="20" {% if duration == 20 %}selected{% endif%}>20 minutes</option>
                <option value="25" {% if duration == 25 %}selected{% endif%}>25 minutes</option>
                <option value="30" {% if duration == 30 %}selected{% endif%}>30 minutes</option>
            </select>
    </div>
    <hr/><br/>
 <!---------------------------Location--------------------->
    <div class="form-group form-inline">
        <label class="col-lg-2" style="font-weight: bold; font-size: 18px;" for ="question">New Location: </label>
         <input class="form-control col-lg-5 input-md" id="location" type="text" name ="location" placeholder="Type New location" onchange="toggle_location()" oninput="toggle_location()" >
         <a class ="btn btn-primary disabled" id="add_location" onclick='add_location()' disabled> Add New Location </a>
    </div>
    <div class="form-group form-inline">
        <label class="col-lg-2" style="font-weight: bold; font-size: 18px;" for="location_list">Added Location: </label>
        <select multiple='multiple' class="form-control col-lg-5" name="location_list" id="location_list">
          {% for l in location %}
            <option value='{{l.location}}|{{l.lat}}|{{l.lng}}'>{{l.location}}</option>
          {% endfor %}
        </select>
        <a class ="btn btn-primary" id='remove_location' onclick="remove_location()"> Remove Locations</a>
    </div>
    <div class="form-group form-inline">
        <div id="map" name="map_location" class="col-lg-8" style="margin-left: 10%; height: 350px;background-color: grey"></div>
    </div>


    <hr/><br/>

    <div class="form-group form-inline" style="margin-left: 30%">
         <button class="btn btn-success btn-lg" id="submit" name="submit" type="submit" value ="submit_change" onclick="check_submit()"> <i class="fa fa-plus-circle"></i> Edit Campaign </button>
    </div>
    </form>
  </div>

{% block script %} 
    <script src="/static/javascript/manager_js/multi.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGuEpRycbTYDCcS6uxiot0x0eSLkpTbiY&libraries=places&callback=initAutocomplete"></script>
    <script  src="/static/javascript/manager_js/create_campaign.js"></script> {% endblock%}
{%  endblock %}