<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/manager.css">
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
		<script type="text/javascript" src="../../static/javascript/manager_js/create_campaign.js"></script>
		
	</head>
    
	<body>
		<div class="container" > 
			<div style="width: 1500px;background-color:white;opacity: .7"><span class="title" > View Campaign </span> </div>
			<div class="nav"></div>
            <div class="float">
            	<div class="stay" style="position:fixed">
	                <div class="n" onclick="location.href='create_campaign.html'"><span class="link">Create Campaign<span></div>
	                <div class="n" onclick="location.href='edit_campaign.html'"><span class="link">Edit Campaign</span></div>
	                <div class="onPage" onclick="location.href='view_campaign.html'"><span class="link">View Campaign</span></div>
	                <div class="n" onclick="location.href='view_campaign_result.html'"><span class="link">View Campaign Result</span></div>
	                <div class="n" onclick="location.href='view_canvas_assignment.html'"><span class="link">View Canvas Assignment</span></div>
	                <div class="n" onclick="location.href='create_canvas_assignment.html'"><span class="link">Create Canvas Assignment</span></div>
	            </div>
            </div>
            <div class="signOut"><span class="outText">Sign Out</span> </div>
		</div>

		<div class="container"> 
			<form id="createCampaign" style="overflow:auto">
				<div class="box" style="top:160px;overflow: auto;"><span class="label" style="font-size: 24px;">View Campaign</span>
					<div class="content" style="margin-left:10px;" >
						<table  cellpadding="3" >
							<tr>
								<th style="width:250px;">Campaign</th>
								<th style="width:250px;">Canvasser</th>
								<th style="width:250px;">Location</th>
								
							</tr>
							<tr></tr>

							{% for item in camp %}
							<tr>
								<th style="width:250px;">{{item.date}}</th>
								<th style="width:250px;">{{item.canvasser}}</th>
								<th style="width:250px;">{{item.location}}</th>
								
							</tr>
							{% endfor %}

							
						</table>
					</div>
				</div>

			</form>
		</div>
		
	</body>
</html>