{% extends "layout.html" %}
    {% block newHeader %} 
<script>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
       {% for msg in messages%}
             alert('{{ msg}}');
             {% endfor %}
     {% endif %}
  {% endwith %}
</script>
    {% endblock %}
    {% block title %} <h3 id = "title"> View Assignments </h3> {% endblock %}
  {%block main %}
<!-----------------View Compaign------------------>

       <div class="container"> 
    	<br/>
		    <div class="form-group form-inline">
		         <label class="col-lg-3" style="font-weight: bold; font-size: 18px;" > Choose Campaign : </label>
		            <select class="form-control col-lg-5" name="campaign_list" id="campaign_list">
		                <option value="null">Choose ..</option>
		                <option value="null1">test</option>
		            </select>
		         <button class ="btn btn-primary" name="submit" value="select_campaign"> Select </button>
		    </div>
		   <hr/>
            <div class="table-responsive">
                <table id = "ass-table" cellspacing="0" width="100%" class="table table-bordered table-hover" data-cache = "false">
  <!------------Table Headers------------------->
              <thead class="thead-dark">
                  <tr>
                    <th  data-field ="index" class="column-header col-name"  style="text-align:center"> Task#
                      <i class = "fa fa-sort-up float-right"> </i>
                    </th>
                     <th  data-field = "location_num" class="column-header col-duration"  style="text-align:center"># of Locations
                      <i class = "fa fa-sort-up float-right"> </i>
                    </th >
                    <th  data-field = "date" class="column-header col-start" style="text-align:center">The Date
                       <i class = "fa fa-sort-up float-right "> </i>
                    </th>
                    <th  data-field = "can_name" class="column-header col-end"  style="text-align:center"> Canvasser Name
                      <i class = "fa fa-sort-up float-right "> </i>
                    </th >
                    <th  data-field = "can_email" class="column-header col-end"  style="text-align:center"> Canvasser Email
                      <i class = "fa fa-sort-up float-right "> </i>
                    </th >
                    <th  data-field = "duration" class="column-header col-duration"  style="text-align:center">Duration
                      <i class = "fa fa-sort-up float-right"> </i>
                    </th >
                     <th style="text-align:center"> See Details </th>
                 </tr>
              </thead>
            <tr>  
              <td class="list-buttons-column"  style="font-size: 18px; text-align:center">tt </td>
              <td class="list-buttons-column" style="font-size: 18px; text-align:center">tt</td>
              <td class="list-buttons-column" style="font-size: 18px; text-align:center">tt </td>
              <td class="list-buttons-column" style="font-size: 18px; text-align:center">tt</td>
             <td class="list-buttons-column" style="font-size: 18px; text-align:center">tt</td>
             <td class="list-buttons-column" style="font-size: 18px; text-align:center">tt</td>
              <td class="list-buttons-column" style="text-align:center">
               <button  type ="button" class="btn btn-outline-info detail"> <i class="fa fa-info-circle"></i></button>
              </td>
            </tr>
          </table>
       </div>
       <hr>
       </div>
{% block script %}
   <script  src="/static/javascript/manager_js/view_assignment.js"></script> {% endblock%}
{%  endblock %}